@model entityLayer.concrete.author
@{
    ViewBag.Title = "editAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Author</h2>

@using (Html.BeginForm("editAuthor", "adminAuthor", FormMethod.Post))
{
    <labal>Author Name</labal>
    @Html.TextBoxFor(i => i.authorName, new { @class = "form-control" })
    <br />
    <labal>Author Surname</labal>
    @Html.TextBoxFor(i => i.authorSurname, new { @class = "form-control" })
    <br />
    <labal>Author Mail</labal>
    @Html.TextBoxFor(i => i.authorMail, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(i => i.authorId)
    <button class="btn btn-primary">Update</button>
}